/* BookCard.css */

.book-card {
  perspective: 1000px;
  width: 300px;
  height: 400px;
  margin: 20px;
  cursor: pointer;
}

.book-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.book-card:hover .book-card-inner {
  transform: rotateY(165deg);
}

.book-card-front,
.book-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 12px;
  transition: 0.4s;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5),
  inset 8px 8px 16px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}
.book-card-front:hover,
.book-card-back:hover {
  transition: 0.4s;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5),
  inset 8px 8px 16px rgba(0, 0, 0, 0.5);

}
.book-card-front {
  background-color: #ffffff;
}

.book-cover {
  width: 100%;
  /* height: auto; */
  border-radius: 8px;
  aspect-ratio: 0.7;
}


.book-title {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
}

.book-card-back {
  background-color: #f7f7f7;
  transform: rotateY(180deg);
  text-align: center;
}

.book-description {
  font-size: 16px;
  color: #555;
  line-height: 1.5;
  margin: 10px 0;
}

.book-price {
  font-size: 18px;
  color: #007bff;
  margin: 10px 0;
}

.book-buttons {
  display: flex;
  gap: 10px;
}

.btn {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.4s, transform 0.3s;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5),
      inset 8px 8px 16px rgba(0, 0, 0, 0.5);
}

.buy-btn {
  /* background-color: #28a745; */
  background-color: #034c9a;
}

.buy-btn:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.download-btn {
  background-color: #007bff;
}

.download-btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .book-card {
    margin: auto;
    margin-bottom: 1rem;
  }
  @keyframes scrollbar {
    0% {
      opacity: 0.2;
      scale: 0.6;
    }
    40% {
      opacity: 1;
      scale: 1;
    }
  }
  /* Mobile styles */
  .book-card {
    animation: scrollbar linear;
    animation-range: entry 0 cover;
    animation-timeline: view();
    
  }
}

/* buy book */
/* Modal Styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 0.2rem;
}

.confirm-btn {
  background-color: #28a745;
}

.confirm-btn:hover {
  background-color: #218838;
}

.cancel-btn {
  background-color: #dc3545;
}

.cancel-btn:hover {
  background-color: #c82333;
}

.modal-content .btn {
  margin: 5px;
}
